<div class="comment_reply">
  <h4>Reply:</h4>
  <form action="/<%= @post.id %>/comments/<%= @comment_id %>/reply"  method="post">
    <textarea rows="5" cols="100" name="text"></textarea>
    <div class="buttons">
      <button type="submit">Submit</button>
      <a href="/<%= @post.id %>/comments">Cancel</a>
    </div>
  </form>
</div>
