<div class="short_form">
  <h2>Sign in</h2>
  <form action="/signin" method ="post">
    <h4>Enter Username:</h4>
    <input type="text" name="user_id" class="short">
    <h4>Enter Password:</h4>
    <input type="text" name="password" class="short">
    <div class="buttons">
      <button type="submit">Submit</button>
      <a href="/" class="cancel">Cancel</a>
    </div>
  </form>
</div>
