<div class="short_form">
  <h2>Submit Post</h2>
  <form action="/submit_post" method="post">
    <div>
      <h2>Submit the link: </h2>
      <input type="text" name="link" class="short">
    </div>
    <div>
      <h2>Choose a title: </h2>
      <input type="text" name="title" class="short">
    </div>
    <div class="buttons">
      <button type="submit">Submit</button>
      <a href="/" class="cancel">Cancel</a>
    </div>
  </form>
</div>
